// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
	color:black;
	font-size: 20px;
}

a {
  font-size: 20px
}

.grace {
	color: blue;
}

.fa {
	padding: 2px;
}

.custom_style img {
	height: 110px;
	width: 110px;
	border-radius: 70px;
}
 
.fa:hover {
    color: red;
}

.jumbotron {
	background-image: url('kosmach.jpg');
	background-repeat:no-repeat;
    background-size: 100% 100%; 
    box-shadow:0 0 0 200px rgba(120, 120, 120, 0.8) inset;
}

.display-3, .text {
	color: white;
    z-index: 1;
}

.btn-secondary { 
	z-index: 1; 
}






