<div class="d-flex justify-content-between">
  <div>
    <p>pozhodzhuk_d@ukr.net</p>
    <p>+38097 131 38 37</p>
  </div>

  <div class="grace">
    <div class="d-flex align-items-start">Anya Bodnarchuk</div><br>
    Igor Okarma
  </div>

  <div class="grace">
    <div class="d-flex align-items-start">bodnarchuk_a@gmail.com</div></br>
    okarma_i@i.ua
  </div>

  <div>
    <div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,counter,theme=04" data-services="facebook,twitter,google,linkedin,email,print" data-user="252090405"></div>
    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> 
      <a href="#" class="hi-icon">
       <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
      <a href="#" class="hi-icon">
       <i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="#" class="hi-icon">
       <i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></a>
      <a href="#" class="hi-icon">
       <i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
      <a href="#" class="hi-icon">
       <i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
      <a href="#" class="hi-icon">
       <i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
      <a href="#" class="hi-icon">
       <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>







