<div class="d-flex justify-content-between">
  <div>
    <p>pozhodzhuk_d@ukr.net</p>
    <p>+38097 131 38 37</p>
  </div>

  <div class="grace">
    <div class="d-flex align-items-start">Anya Bodnarchuk</div><br>
    Igor Okarma
  </div>

  <div class="grace">
    <div class="d-flex align-items-start">bodnarchuk_a@gmail.com</div></br>
    okarma_i@i.ua
  </div>
</div>




